.flex {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-sm {
  gap: var(--space-sm);
}

.gap-md {
  gap: var(--space-md);
}